<div class="login-container">
  <div *ngIf="!isLoggedIn" class="col-md-12 d-flex justify-content-center">
    <mat-card class="login-card">
      <div class="image-container">
        <img id="profile-img" src="../../assets/imgs/dummy-logo.png" class="profile-img-card" />
      </div>

      <mat-card-content>
        <form class="example-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" name="username" [(ngModel)]="form.username" required
              #username="ngModel">
            <mat-error *ngIf="username.errors?.required && username.touched">
              Username is required!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel">
            <mat-error *ngIf="password.errors?.required && password.touched">
              password is required!
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength && password.touched">
              Password must be at least 6 characters
            </mat-error>
          </mat-form-field>

          <button class="example-full-width login-button" color="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign In
          </button>
        </form>
      </mat-card-content>
      <div class="sign_in_sign_up d-flex">
        <div class="sign_in_sign_up_btn-left d-flex">
          <button mat-button [routerLink]="['/home']">Welcome Page</button>
        </div>
        <div class="sign_in_sign_up_btn-right d-flex">
          <button mat-button [routerLink]="['/signup']">Sign Up</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>