<section>
    <div class="header">
        <h3 *ngIf="!isLoggedIn">WELCOME HOME</h3>
        <h3 *ngIf="isLoggedIn">WELCOME HOME {{current_user?.first_name.toUpperCase()}}
            {{current_user?.last_name.toUpperCase()}}</h3>
    </div>
</section>
<div class="card-body">
    <section>
        <div class="product-cards content">
            <div class="col-lg-12  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 product-card">
                        <div class="product-item">
                            <div class="card" *ngIf="!isLoggedIn">
                                <h4>How are you ,You are not logged in yet Please Log In</h4>
                            </div>

                            <div class="card" *ngIf="isLoggedIn">
                                <table>
                                    <tr>
                                        <td class="attribute">First Name</td>
                                        <td>{{current_user?.first_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="attribute">Surname</td>
                                        <td>{{current_user?.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="attribute">Phone Number</td>
                                        <td>{{current_user?.phone_number}}</td>
                                    </tr>

                                    <tr>
                                        <td class="attribute">Email</td>
                                        <td>{{current_user?.email}}</td>
                                    </tr>
                                    <tr>
                                        <td class="attribute">Country</td>
                                        <td>{{current_user?.country_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="attribute">City</td>
                                        <td>{{current_user?.city}}</td>
                                    </tr>

                                    <tr>
                                        <td class="attribute">Latitude</td>
                                        <td>{{current_user?.latitude}}</td>
                                    </tr>

                                    <tr>
                                        <td class="attribute">Longitude</td>
                                        <td>{{current_user?.longitude}}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>