section {
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
     -webkit-font-smoothing: antialiased;
     display: flex;
     justify-content: center;
     background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.content {
    padding: 16px;
    width: 80%;
}

.content mat-card {
    margin-bottom: 16px;
    height: 450px;
}

mat-card img {
     height: 330px;
}

.product_image {
     /*border: solid 1px #d87093;*/
     border-top: none;
     border-radius: 0;
}

.image{
     height: 100%;
}

.product-cards {
     align-items: center;
}

.product-card {
	margin-bottom: 8px;
}

.card {
	width: 100%;
	height: 100%;
	border-radius: 0;
	margin: 5px 0 5px 0;
}

.header {
     display: flex;
     justify-content: center;
     border-bottom: solid 3px #d87093;
     width: 80%;
     margin-top: 50px ;
}

.announce {
     height: 65px;
     display: flex;
     font-family: cursive;
}

.payments {
     background-color: #d87093;
     color: white;
     width: 33.3%;
     padding:10px;
     display: flex;
     justify-content: center;

}

.premium {
   background-color: #ffc0cb;
     color: white;
     width: 33.3%;
     padding:10px;
     display: flex;
     justify-content: center;
}

.delivery {
   background-color: #d87093;
     color: white;
     width: 33.3%;
     padding:10px;
     display: flex;
     justify-content: center;
}

.card-body {
     background-color: #ffffff;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #000000;
  color: #fefefe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-start;
}

.content :hover .overlay {
  opacity: 0.8;
}

.overlay .row {
     margin-left: 10px;
     margin-top: 250px;
     height: 65px;
} 
.card_button {
  background: #d87093;
  font-size: 17px;
  cursor: pointer;
  border: none;
  height: 60px;
  width: 60px;
  margin-right: 5px;
  border-radius: 100%;
  color: #fefefe;
}

img {
	max-width: 100%;
}

.product-item .pi-pic {
	position: relative;
	display: block;
}

.product-item .tag-new,
.product-item .tag-sale {
	position: absolute;
	right: 16px;
	top: 14px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background: #50e550;
	line-height: 1;
	text-transform: uppercase;
	padding: 5px 9px 1px;
	border-radius: 15px;
	width: 42px;
}

.product-item .tag-sale {
	text-align: center;
	padding: 5px 0px 1px;
	min-width: 65px;
	background: #f51167;
}

.product-item .pi-links {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 18px;
	z-index: 9;
	padding-right: 15px;
	text-align: right;
}

.product-item .pi-links a {
	display: inline-table;
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 60px;
	font-size: 18px;
	line-height: 18px;
	padding-top: 9px;
	overflow: hidden;
	color: #000;
	position: relative;
	-webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	text-align: center;
	margin-left: 5px;
}

.product-item .pi-links a i {
	display: inline-block;
	color: #000;
}

.product-item .pi-links a.add-card {
	padding-top: 8px;
	cursor: pointer;
}

.product-item .pi-links a.add-card span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 19px;
	top: 20px;
	opacity: 0;
}

.product-item .pi-links a.add-card:hover {
	width: 148px;
	padding: 8px 18px 0;
	text-align: left;
}

.product-item .pi-links a.add-card:hover span {
	opacity: 1;
	top: 10px;
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
}

.product-item .pi-text {
	padding: 5px 20px 5px 10px;
	height: 60px;
}

.product-item .pi-text h6 {
	float: right;
	padding-left: 40px;
	overflow: hidden;
	font-weight: 700;
	color: #111111;
}

.product-item .pi-text p {
	font-size: 14px;
	font-weight: 400;
	color: #111111;
	margin-bottom: 0;
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 167px;
	padding: 18px 47px 14px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #f51167;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-white {
	background: #fff;
	color: #111111;
}

.site-btn.sb-line {
	background: transparent;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}

.site-btn.sb-dark {
	background: #413a3a;
}

.site-btn.sb-dark.sb-line {
	background-color: transparent;
	color: #111111;
	-webkit-box-shadow: inset 0 0 0 1px #111111;
	box-shadow: inset 0 0 0 1px #111111;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

.attribute {
	font-weight: 700;
}