<div class="login-container">
  <div *ngIf="!isSuccessful" class="col-md-12 d-flex justify-content-center">
    <mat-card class="login-card">

      <mat-card-content>
        <form class="login-form" [formGroup]="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>

          <!-- Image Preview -->
          <div class="form-group">
            <div class="preview" *ngIf="preview && preview !== null">
              <img [src]="preview" [alt]="form.value.name" class="uploadFile">
            </div>
          </div>

          <!-- File Input -->
          <div class="row bg-light">
            <div class="col-md-12">
              <span class="btn btn-default btn-file">
                Upload Profile Picture <input type="file" (change)="uploadFile($event)">
              </span>
            </div>
          </div>

          <p class="upload_image_msg">{{upload_image_msg}}</p>

          <div class="input-row">
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" name="first_name" formControlName="first_name" required>
              <!-- <mat-error *ngIf="first_name.errors?.required && first_name.touched">
              First Name is required!
            </mat-error> -->
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" name="last_name" formControlName="last_name" required>
              <!-- <mat-error *ngIf="last_name.errors?.required && last_name.touched">
              Last Name is required!
            </mat-error> -->
            </mat-form-field>
          </div>


          <div class="input-row">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" name="username" formControlName="username" minlength="3"
                maxlength="20" required>
              <!-- <mat-error *ngIf="username.errors?.required && username.touched">
                Username is required!
              </mat-error>
              <mat-error *ngIf="username.errors?.minlength">
                Username must be at least 3 characters
              </mat-error>
              <mat-error *ngIf="username.errors?.maxlength">
                Username must be at most 20 characters
              </mat-error> -->
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" name="email" formControlName="email" required>
              <!-- <mat-error *ngIf="email.errors?.required && email.touched">
                Email is required!
              </mat-error>
              <mat-error *ngIf="email.errors?.email">
                Email must be a valid email address
              </mat-error> -->
            </mat-form-field>
          </div>

          <div class="input-row">
            <mat-form-field class="example-full-width">
              <mat-label>country_name</mat-label>
              <input matInput placeholder="country_name" name="country_name" formControlName="country_name" required>
              <!-- <mat-error *ngIf="country_name.errors?.required && country_name.touched">
                country_name is required!
              </mat-error> -->
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="Phone Number e.g +263775632253" type="number" name="phone_number"
                formControlName="phone_number" required>
              <!-- <mat-error *ngIf="phone_number.errors?.required && phone_number.touched">
                Phone Number is required!
              </mat-error>
              <mat-error *ngIf="phone_number.errors?.phone_number">
                Phone Number must be a valid phone_number address
              </mat-error> -->
            </mat-form-field>
          </div>


          <div class="input-row">
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput placeholder="First Name" name="city" formControlName="city" required>
              <!-- <mat-error *ngIf="city.errors?.required && city.touched">
                City is required!
              </mat-error> -->
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required
                minlength="6">
              <!-- <mat-error *ngIf="password.errors?.required && password.touched">
                password is required!
              </mat-error>
              <mat-error *ngIf="password.errors?.minlength && password.touched">
                Password must be at least 6 characters
              </mat-error> -->
            </mat-form-field>
          </div>

          <div class="button-container">
            <button class="login-button" type="submit" color="primary" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Sign Up
            </button>
          </div>

        </form>

      </mat-card-content>
      <div class="sign_in_sign_up d-flex">
        <div class="sign_in_sign_up_btn-left d-flex">
          <button mat-button [routerLink]="['/home']">Welcome Page</button>
        </div>
        <div class="sign_in_sign_up_btn-right d-flex">
          <button mat-button [routerLink]="['/login']">Sign In</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>