section {
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.my-toolbar {
  background-color: #fefefe;
  height: 140px;
  display: flex;
  padding: 0 10% 0 10%;
}

.logo {
  width: 130px;
  height: 130px;
  margin: 7px;
  cursor: pointer;
  border-radius: 100%;
}

.search_box {
  margin-left: 10%;
  width: 40%;
}

.search_box input[type=text] {
  padding: 6px;
  font-size: 17px;
  background-color: #EAECEE;
  border: solid 2px #d87093;
  border-right: none;
  width: 85%;
  border-radius: 25px 0 0 25px;
}

.search_box button {
  padding: 6px 10px;
  background: #EAECEE;
  font-size: 17px;
  border: solid 2px #d87093;
  border-left: none;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  width: 15%;
}

.footer-section {
    background-color: #1C2833;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
}

.my-nav-links {
  float: right;
  font-size: 15px;
  color: #000000;
}

.example-spacer {
  flex: 1 1 auto;
}

.my-toolbar-secondary {
  display: flex;
  justify-content: center;
}

.my-nav-links-secondary {
  width: 80%;
}

.nav-bg {
  /*background-color: #800080;*/
  background-color: #d87093;
}

.nav-item {
  color: #fefefe;
}

.nav-item a{
    font-size: 14px;
}

.top_nav-item  a{
 font-size: 14px;
}

.sign_up_button {
  background:  #d87093;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  height: 40px;
  width: 130px;
  padding: 0;
}

.nav{
  align-items: center;
}
