<section>
    <mat-toolbar class="my-toolbar">
        <div class="toolbar-content" [hidden]="!isLoggedIn">
            <img class="logo" [src]="returned_user?.avatar" alt="" [routerLinkActive]="['active']"
                [routerLink]="['/home']">
        </div>
        <span class="example-spacer"></span>

        <div class="my-nav-links" [hidden]="isLoggedIn">
            <ul class="nav">
                <li class="top_nav-item">
                    <a mat-button class="top_nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                        [routerLink]="['/login']">
                        <i class="material-icons">perm_identity</i> Sign In
                    </a>
                </li>
                <button type="button" class="btn sign_up_button" [routerLink]="['/signup']">Sign Up</button>
            </ul>
        </div>

        <div class="my-nav-links" [hidden]="!isLoggedIn">
            <ul class="nav">
                <li class="top_nav-item">
                    <a mat-button class="top_nav-link" [routerLinkActive]="['active']" data-toggle="tab"> {{user}}
                    </a>
                </li>
                <button type="button" class="btn sign_up_button" (click)="logout()">Logout</button>
            </ul>
        </div>
    </mat-toolbar>

    <mat-toolbar class="my-toolbar-secondary nav-bg">
        <div class="my-nav-links-secondary">
            <ul class="nav">
                <li class="nav-item">
                    <a mat-button class="nav-link" [routerLinkActive]="['active']" data-toggle="tab"
                        [routerLink]="['/home']">Welcome Page
                    </a>
                </li>
            </ul>
        </div>
    </mat-toolbar>
</section>